@forward 'globals';

@import './globals/variables';

body {
    background-color: $neutral-clr-dark-slate-grey;
}

.success-container {
    padding: 1.4em;
    height: 100vh;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;

    h1 {
        color: $neutral-clr-dark-slate-grey;
        font-size: 2.8em;
        margin-block: .3em;
        line-height: 1em;
    }

    p {
        margin-block: .8em;
        margin-bottom: auto;

        span {
            font-weight: bold;
        }
    }
}

.sign-up-container,
.success-container {
    background-color: white;
 
    .content {
        padding: 1.6em;
    
        h2 {
            color: $neutral-clr-dark-slate-grey;
            font-size: 2em;
    
            & + p, & {
                margin-bottom: .6em;
            }
        }
    
        label {
            font-weight: bold;
            color: $neutral-clr-dark-slate-grey;
            display: block;
            margin-block: .8em;
            margin-bottom: .4em;
        }
    
        ul {
            margin-block: 1.3em;
    
            li {
                display: flex;
                gap: 1em;
    
                &:not(:first-child) {
                    margin-top: 1em;
                }
    
                img {
                    display: block;
                    width: 5%;
                }
            }
        }
    }

    .success-icon {
        width: 4rem;
        margin-bottom: 1.2em;
    }

    .cta-btn, input {
        padding: 1em;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        font: inherit;
    }

    .cta-btn {
        background-color: $neutral-clr-dark-slate-grey;
        color: white;
        margin-top: 1.2em;

        &:hover {
            background-image: linear-gradient(-45deg, #FF6A3A 0%, #FF527B 100%);
        }
    }
}

form {
    margin-top: 2em;
    display: block;
}