@media only screen and (min-width: 768px) {
    body {
        display: grid;
        min-height: 100vh;
        place-content: center;
    }

    .sign-up-container {
        display: flex;
        flex-direction: row-reverse;
        border-radius: 15px;
        align-items: center;
        width: 80%;
        margin-inline: auto;
    }

    .illustration-container img {
        height: inherit;
        padding: 1em;
    }
}