// primary color
$primary-clr-tomato: hsl(4, 100%, 67%);

// neutral colors
$neutral-clr-dark-slate-grey: hsl(234, 29%, 20%);
$neutral-clr-charcoal-grey: hsl(235, 18%, 26%);
$neutral-clr-grey: hsl(231, 7%, 60%);